.container {
	style="width: 400px; 
	margin: 0px auto;
}

	.shopItem {
	  padding: 5px;
	  height: 100px;
	  border: 1px solid black;
	  width: 600px;
	  margin: 5px auto;
	  background: white;
	  border-radius: 10px;
	}
	
	.itemItem {
	  padding: 5px;
	  height: 100px;
	  border: 1px solid black;
	  width: 600px;
	  margin: 5px auto;
	  background: white;
	  border-radius: 10px;
	}